html {
  height: 100%;
}
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;

}
/*Barra de navegación*/
.barra {
    padding: 16px;
    background-image: url(../imgcolor/fondo6.png.jpg);
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-size: 20px;
}

.logo img {
    width: 120px;
    height: 120px;
}

/*Tipos de coloracion*/
.tiposdecoloracion {
    padding-left: 60px;
    padding-right: 60px;
}
.tipos {
    display: flex;
    justify-content: space-between;
    gap: 40px ;
}
.targetita {
    background-color: brown;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: end;
    background-size: cover;
}/*Targetas de coloracion*/

.targetas--retoque{
background-image: url(../imgcolor/retoque.png);
}
.targetas--cambio{
background-image: url(../imgcolor/cambio.jpg);
}
.targetas--bloque {
background-image: url(../imgcolor/bloque.png);
}
.targetas--mecha {
    background-image: url(../imgcolor/mecha.png);
}
.targetas--bala {
    background-image: url(../imgcolor/bala.jpg);
}
.targetas--reflejo {
    background-image: url(../imgcolor/reflejo.jpg);
}
/*Tarjetas de cortes*/
.targetas--dama {
    background-image: url(../imgcolor/cortemujer.jpg);
}
.targetas--unisex {
    background-image: url(../imgcolor/unisex.jpg)
}
.targetas--varon {
    background-image: url(../imgcolor/corte\ hom.jpg);
}
/*Tarjetas de tratamiento*/
.targetas--hidratacion {
    background-image: url(../imgcolor/hidratacion.jpg);
}
.targetas--botox {
    background-image: url(../imgcolor/botox.png);
}
.targetas--estimulante {
    background-image: url(../imgcolor/estimulante.jpg);
}
/*Tarjetas de servicios permanentes*/
.targetas--ondulacion {
    background-image:url(../imgcolor/permru.png) ;
}
.targetas--alizado {
    background-image:url(../imgcolor/alispe.png) ;
}
h1 {
    font-family: 'Amatic SC', cursive;
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
}

 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  .tih3 {
    color: aliceblue;
  } 
  /*Animación de los titulos cards*/
  .tracking-in-contract {
	-webkit-animation: tracking-in-contract 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
 @-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  /*Animación de frase, area de trenzado*/
  .puff-in-ver {
	-webkit-animation: puff-in-ver 1.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) backwards;
	        animation: puff-in-ver 1.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) backwards;
}
 @-webkit-keyframes puff-in-ver {
    0% {
      -webkit-transform: scaleY(2);
              transform: scaleY(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-ver {
    0% {
      -webkit-transform: scaleY(2);
              transform: scaleY(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  /*Footer*/
  .a {
    text-decoration: none;
  }
  .footer {
    background: #272727 ;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    margin: auto;
    background-image: image();
  }
  footer li {
    list-style: none;
    display: inline-block;
    margin: 10px;
  }
  .footer-icons a{
    background: #ab9202;
    color: #e96c19;
    padding: 15px;
    border-radius: 100px;
    display: flex;
    font-size:25px;
  }
 .footer-icons a:hover{
  color: #b83535;
 }
 .footer-menu a{
  color: #b6228f;
 }
 .footer-menu a:hover {
  color: #ab9202;
 }
